<h1>Urls#new</h1>


  <%= form_for @url, url: { action: "create" } do |f| %>
  <%= f.label :original %>
  <%= f.url_field :original, :autofocus=>true %>

  <%= f.submit "Make it shorty!" %>

  <% end %>
